* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  margin: auto;
  width: 310px;
  height: 550px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.screen .display {
  flex: 3;
  display: flex;
  flex-direction: column;
  color: wheat;
}

.display div {
  flex: 4;
}

.display .bottom {
  flex: 1;
  text-align: right;
  color: white;
}
.display .top {
  text-align: left;
  color: gray;
}

.screen .keyboard {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}

.key {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.key.b0 {
  grid-column: 1 / span 2;
}

.xkey {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: orange;
  border: none;
  cursor: pointer;
}

.xkey:active {
  transform: scale(0.98);
}
.xkey:focus {
  outline: 0;
}
